## Final Solution Example Run

In [8]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
from main import main

In this notebook we will demonstarte the use of our solution.

Background Story:
Assume we would use the video_games_sales dataset in order to predict the global sales of a given video game.
While exploring the data before building an appropriate prediction framework, we would like to understande whether a given numeric column is actually a nominal categorical column. If this is the case, we might prefer using one-hot encoding or similar in order to represent this feature, rather than the original numeric value which might imply an unwanted order between the different values.

To show the viability of our solution, we chose the data such that we know the columns meaning, therefore we would know exactly what to expect. The real power of our solution is that it can help us understand non-intuitives datasets.

Let us briefly introduce the data:

In [11]:
data_path = './datasets/converted_datasets/video_games_sales_converted_regression.csv'
data = pd.read_csv(data_path)
data

,Name,Year_of_Release,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,Platform,Genre
0,Wii Sports,2006.0,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,26,10
1,Super Mario Bros.,1985.0,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,11,4
2,Mario Kart Wii,2008.0,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,26,6
3,Wii Sports Resort,2009.0,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E,26,10
4,Pokemon Red/Pokemon Blue,1996.0,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,5,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,2016.0,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,17,0
16715,LMA Manager 2007,2006.0,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,28,10
16716,Haitaka no Psychedelica,2016.0,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,20,1
16717,Spirits & Spells,2003.0,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,6,4
16718,Winning Post 8 2016,2016.0,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,20,9

The data contains three int type columns with less than 50 unique values: Year_of_Release, Platform and Genre, we expect like them to be tested. \

In addition, we would expect our model to identify that Genre and Platform are nominal columns, while Year_of_Release is ordinal.

In [14]:
warnings.filterwarnings("ignore")
main(data_path, 'Global_Sales', regression_task=True)

['Year_of_Release' 'Platform' 'Genre'] have less than 50 unique INT values, therefore they will be checked.
Training embedding model start.
Epoch 1/10
515/515 - 2s - loss: 0.6427 - accuracy: 0.6311 - 2s/epoch - 3ms/step
Epoch 2/10
515/515 - 1s - loss: 0.6290 - accuracy: 0.6443 - 863ms/epoch - 2ms/step
Epoch 3/10
515/515 - 1s - loss: 0.6240 - accuracy: 0.6502 - 855ms/epoch - 2ms/step
Epoch 4/10
515/515 - 1s - loss: 0.6222 - accuracy: 0.6523 - 864ms/epoch - 2ms/step
Epoch 5/10
515/515 - 1s - loss: 0.6184 - accuracy: 0.6553 - 860ms/epoch - 2ms/step
Epoch 6/10
515/515 - 1s - loss: 0.6157 - accuracy: 0.6582 - 859ms/epoch - 2ms/step
Epoch 7/10
515/515 - 1s - loss: 0.6133 - accuracy: 0.6603 - 859ms/epoch - 2ms/step
Epoch 8/10
515/515 - 1s - loss: 0.6118 - accuracy: 0.6610 - 921ms/epoch - 2ms/step
Epoch 9/10
515/515 - 1s - loss: 0.6104 - accuracy: 0.6635 - 903ms/epoch - 2ms/step
Epoch 10/10
515/515 - 1s - loss: 0.6093 - accuracy: 0.6625 - 893ms/epoch - 2ms/step
Training embedding model end.

For the 'Year_of_Release' column, Spearman correlation score of the original values space and the embedding space is 0.49487097994668927.
This means 'Year_of_Release' column is ordinal, you should use the original values or mapping.

For the 'Platform' column, Spearman correlation score of the original values space and the embedding space is 0.1266395980398963.
This means 'Platform' column is nominal, you should use one hot encoding.

For the 'Genre' column, Spearman correlation score of the original values space and the embedding space is 0.13767867824805632.
This means 'Genre' column is nominal, you should use one hot encoding.

Our model indeed recognizes nominal columns as we expected, additionaly, it provides the user with the spearman correlation score which can provide the certainty level.