# Experiment with Regression Problem

Initially, we intented to create two seperte embedding networks, one for classification tasks and second one for regression tasks. While building our solution, we discovered that the results for the regression tasks framework are not good enough.
It might be that the network that we built is not good enough and perhaps different architecture for the network would work better (we tried two different architectures). Another assumption is that the embedding of catagorical columns worse with regression tasks.
We chose to not further research this point and to convert an input regression task to a classification task with predicting above/under mean.

This notebook presents an example run of the solution with the embedding network as a regression task.

In [4]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import sys
import os
root = os.path.dirname(os.path.dirname(os.path.dirname(os.path.abspath(''))))
sys.path.insert(0, root) 
from neural_net_for_regression_task import main as regression_main
import datetime

In [5]:
data_path = '../../../datasets/converted_datasets/video_games_sales_converted.csv'
data = pd.read_csv(data_path)
data.head()

,Name,Year_of_Release,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,Platform,Genre
0,Wii Sports,2006.0,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,26,10
1,Super Mario Bros.,1985.0,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,11,4
2,Mario Kart Wii,2008.0,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,26,6
3,Wii Sports Resort,2009.0,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E,26,10
4,Pokemon Red/Pokemon Blue,1996.0,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,5,7

- The target column to predict is the Global_Sales column. 



- We know that the following columns have less than 50 unique INT values - therefore, they are actually categorical: Year_of_Release, Platform and Genre.


- Additionaly, we know that Year_of_Release is ordinal, while all the other are nominal.

We apply our model on the spotify dataset:

In [6]:
warnings.filterwarnings("ignore")
start = datetime.datetime.now()
regression_main(data_path, 'Global_Sales')
end = datetime.datetime.now()
print("\n Model run time: {}".format(end-start))

The following columns have less than 50 unique INT values, therefore they will be checked:
Year_of_Release
Platform
Genre

Training embedding model start.

Epoch 1/10
515/515 - 2s - loss: 0.2846 - mse: 0.2846 - 2s/epoch - 3ms/step
Epoch 2/10
515/515 - 1s - loss: 0.2677 - mse: 0.2677 - 877ms/epoch - 2ms/step
Epoch 3/10
515/515 - 1s - loss: 0.2676 - mse: 0.2676 - 917ms/epoch - 2ms/step
Epoch 4/10
515/515 - 1s - loss: 0.2676 - mse: 0.2676 - 861ms/epoch - 2ms/step
Epoch 5/10
515/515 - 1s - loss: 0.2676 - mse: 0.2676 - 881ms/epoch - 2ms/step
Epoch 6/10
515/515 - 1s - loss: 0.2676 - mse: 0.2676 - 864ms/epoch - 2ms/step
Epoch 7/10
515/515 - 1s - loss: 0.2676 - mse: 0.2676 - 981ms/epoch - 2ms/step
Epoch 8/10
515/515 - 1s - loss: 0.2676 - mse: 0.2676 - 1s/epoch - 2ms/step
Epoch 9/10
515/515 - 1s - loss: 0.2676 - mse: 0.2676 - 982ms/epoch - 2ms/step
Epoch 10/10
515/515 - 1s - loss: 0.2676 - mse: 0.2676 - 906ms/epoch - 2ms/step

Training embedding model end.


'Year_of_Release': Spearman correlation score of the original values space and the embedding space is 0.28.
This means 'Year_of_Release' column is nominal, you should use one hot encoding.

'Platform': Spearman correlation score of the original values space and the embedding space is 0.14.
This means 'Platform' column is nominal, you should use one hot encoding.

'Genre': Spearman correlation score of the original values space and the embedding space is 0.1.
This means 'Genre' column is nominal, you should use one hot encoding.

 Model run time: 0:00:10.164649

We notice that the 'Year_of_Release' column was mistakenly classified as nominal.

We will now show that with the classification framework and converting the regression task to classification of above/below mean, the results will be better. 

We will use the main code of our final solution, giving it a regression_task flag that will convert the task to classification.

In [7]:
from main import main

In [9]:
warnings.filterwarnings("ignore")
start = datetime.datetime.now()
main(data_path, 'Global_Sales', regression_task=True)
end = datetime.datetime.now()
print("\n Model run time: {}".format(end-start))

The following columns have less than 50 unique INT values, therefore they will be checked:
Year_of_Release
Platform
Genre

Training embedding model start.


Epoch 1/10
515/515 - 2s - loss: 0.6431 - accuracy: 0.6317 - 2s/epoch - 3ms/step
Epoch 2/10
515/515 - 1s - loss: 0.6273 - accuracy: 0.6466 - 850ms/epoch - 2ms/step
Epoch 3/10
515/515 - 1s - loss: 0.6237 - accuracy: 0.6502 - 846ms/epoch - 2ms/step
Epoch 4/10
515/515 - 1s - loss: 0.6200 - accuracy: 0.6573 - 852ms/epoch - 2ms/step
Epoch 5/10
515/515 - 1s - loss: 0.6183 - accuracy: 0.6548 - 851ms/epoch - 2ms/step
Epoch 6/10
515/515 - 1s - loss: 0.6146 - accuracy: 0.6621 - 891ms/epoch - 2ms/step
Epoch 7/10
515/515 - 1s - loss: 0.6138 - accuracy: 0.6613 - 849ms/epoch - 2ms/step
Epoch 8/10
515/515 - 1s - loss: 0.6116 - accuracy: 0.6618 - 847ms/epoch - 2ms/step
Epoch 9/10
515/515 - 1s - loss: 0.6111 - accuracy: 0.6622 - 849ms/epoch - 2ms/step
Epoch 10/10
515/515 - 1s - loss: 0.6092 - accuracy: 0.6644 - 849ms/epoch - 2ms/step

Training embedding model end.


'Year_of_Release': Spearman correlation score of the original values space and the embedding space is 0.48.
This means 'Year_of_Release' column is ordinal, you should use the original values as mapping.


'Platform': Spearman correlation score of the original values space and the embedding space is 0.1.
This means 'Platform' column is nominal, you should use one hot encoding.


'Genre': Spearman correlation score of the original values space and the embedding space is 0.14.
This means 'Genre' column is nominal, you should use one hot encoding.


 Model run time: 0:00:11.876279

The model successfully classified all of the tested columns.\
Combined with the results of the classification task experiments we recieve an <b>accuracy score of 16/17 = 0.94</b>